#main-chart {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
}

#main-chart svg rect {
    fill: #fc9b46;
    opacity: 1;
}

#main-chart svg rect:hover {
    fill: #ffe359;
}

.char-percent {
    font-weight: 500;
}

.caption {
    fill: #000;
    opacity: .9;
    font-weight: 500;
}