@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
    line-height: 1.5;
    color: #000;
}

a {
    color: #fc9b46;
}

a:hover {
    color: #0a0bca;
}

b {
    font-weight: 500;
}

h1 {
    font-weight: 700;
    font-size: 2em;
    color: var(--main-color);
}

.sub {
    font-weight: 500;
    font-size: 1.5em;
}

h2 {
    color: var(--main-color);
}

h1, h2 {
    margin-top: 25px;
    color: #0a0bca;
    text-shadow: 1px 2px #fff2ac;
}

.source-cap {
    font-size: 0.5em;
    text-align: right;
}


.highlight {
    font-weight: 500;
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

#container {
    margin: 0 auto;
    max-width: 700px;
}

.nav {
    grid-area: nav;
    position: fixed;
    top: 50px;
}

.navlist {
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff2ac;
}

.navitem {
    display: block;
    width: auto;
    padding: 10px;
}

.navlink {
    color: #000;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.25em;
}

.navlink:active {
    color: #333;
}

.navlink:hover {
    color: #fc9b46;
}

.spacer { display: none;}

.content {
    margin-left: 240px;
}

.panel {
    padding-top: 20px;
}

.illustr {
    width: 100%;
    padding-top: 20px;
}

footer {
    font-style: italic;
    padding-bottom: 40px;
}

@media (max-width: 800px) {

    .nav {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .navlist {
        padding: 10px;
    }

    .navgroup {
        display: inline-block;
    }

    .navitem {
        display: inline-block;
        padding: 0px;
        padding-right: 20px;
    }

    .navlink {
        font-size: 1em;
    }

    .content {
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .panel {
        padding-top: 40px;
    }    
}

@media (max-width: 620px) {
    #main-chart {
        display: none;
    }
}

@media (max-width: 426px) {

    .nav {
        top: auto;
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;
        text-align: center;
    }

    .navlist {
        padding: 20px;
    }

    .navitem {
        display: inline-block;
        padding: 0px;
        padding-right: 20px;
    }

    .navlink {
        font-size: 1.25em;
    }

    .content {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .content p {
        font-size: 1.25em;
    }

    .panel {
        padding-top: 10px;
    }    

    footer {
        padding-bottom: 80px;
    }
}